* {
	font-family: "0xProto Nerd Font", sans-serif;
	font-size: 14px;
	border: none;
	border-radius: 0;
	margin: 0;
}

window#waybar {
	background: rgba(30, 0, 46, 0.7);
	color: #fff;
	padding: 30px 0px;
}

.modules-left {
	margin-left: 5px;
}

.modules-right {
	margin-right: 5px;
}

#workspaces button {
	min-width: 20px;
	min-height: 10px;
	padding: 0;
	margin: 0 3px 0 0;
	background: #6c7086;
	border-radius: 10px;
	transition: all 0.2s ease;
	font-size: 1px;
}

#workspaces button label {
	font-size: 0px;
	min-width: 0px;
	min-height: 0px;
	padding: 0;
	margin: 0;
}

#workspaces button.active {
	background: #7300ff;
	min-width: 30px;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces {
	padding: 8px 0 8px 0;
	min-height: 10px;
}

#battery,
#network,
#pulseaudio {
	padding: 4px 5px;
	margin: 5px 3px;
	background: rgba(90, 5, 98, 0.6);
	border-radius: 8px;
}

#clock {

	padding: 4px 5px;
}

#battery.charging {
	color: #46f341;
}

#battery.warning {
	color: #fab337;
}

#battery.critical {
	color: #f33b48;
}
