*{
		font-family: "0xProto Nerd Font", sans-serif;
		font-size:14px;
		border: none;
		border-radius:0;
}
window#waybar{
		background: rgba(30,0,46,0.7);
		color: #fff;
		border-radius: 10px;
}


#workspaces button {
		padding: 0 3px;
		color: #6c7086;
		border-radius: 10px;
		background: transparent;
}
#workspaces button.active{
		color: #b004fa;
}
#clock, #battery,#network,#pulseaudio{
		padding: 0 5px;
		margin: 5px 3px;
		background: rgba(90,5,98,0.6);
		border-radius:8px;
}
#battery.charging{
		color: #46f341;
}
#battery.waning{
		color: #fab337;
}
#battery.critical{
		color: #f33b48;
}
